{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Form</title>
</head>
<style>
    #bgimg
    {
        background-image: url({% static 'images/pic16.jpg' %});
        background-size:cover;
        background-attachment: fixed;
        height:640px;

    }
    #top
    {
        box-sizing: border-box;
        background:rgba(0,0,0,0.5);
        top:120px;

    }
</style>
<body>
{% include "header.html" %}
    {% if success %}
<h4 style="color:green;">You have Booked Successfully! </h4>
{% endif %}
<form method="post" action="{% url 'booked' %}"  enctype="multipart/form-data">
{% csrf_token %}
<div class="container-fluid" id="bgimg">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" id="top" style="border:2px solid #343a40;">
  <h2 style="color:blue;font-family: Algerian;">Your Bookings</h2>

{#      <form method="post" enctype="multipart/form-data" action="">#}
{#{% csrf_token %}#}
          {% for b in bookings %}
            <div class="form-group">
                <label><h6 style="color:orange;">Booking Date:</h6></label>
              <input value="{{ b.booking.current }}" class="form-control">
            </div>

              <div class="form-group">
                <label><h6 style="color:orange;">Number of Persons:</h6></label>
              <input value="{{ b.booking.person}}" class="form-control">
            </div>

              <div class="form-group">
                <label><h6 style="color:orange;">Start Date:</h6></label>
              <input value="{{ b.package.startdate }}" class="form-control">
            </div>

              <div class="form-group">
                <label><h6 style="color:orange;">End Date:</h6></label>
              <input value="{{ b.package.enddate }}" class="form-control">
            </div>

              <div class="form-group">
                <label><h6 style="color:orange;">Cost:</h6></label>
              <input value="{{ b.package.cost }}" class="form-control">
            </div>
          {% endfor %}

{#      {% for p in packages %}#}
{#          <div class="form-group">#}
{#        <label><h6 style="color:orange;">Start Date:</h6></label>#}
{#      <input value="{{ p.startdate }}"  class="form-control">#}
{#    </div>#}
{#          <div class="form-group">#}
{#        <label><h6 style="color:orange;">End Date:</h6></label>#}
{#      <input value="{{ p.enddate }}" class="form-control">#}
{#    </div>#}
{#      {% endfor %}#}
{#      {% for b in Booked %}#}
{#          <div class="form-group">#}
{#        <label><h6 style="color:orange;">Packages:</h6></label>#}
{#      <input value=" {{b.package  }}" class="form-control">#}
{#    </div>#}
{#      {% endfor %}#}
{#         <div class="form-group">#}
{#        <label><h6 style="color:orange;">Total Persons:</h6></label>#}
{#      <input  class="form-control">#}
{#         </div>#}
{#  </form>#}
            </div>
        <div class="col-md-3">
        </div>
</div>
</div>
</form>
</body>
</html>