{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Forgot Password</title>
</head>
<style>
    #bgimg
    {
        background-image: url({% static 'images/pic16.jpg' %});
        background-size:cover;
        background-attachment: fixed;
        height:640px;

    }
    #top
    {
        box-sizing: border-box;
        background:rgba(0,0,0,0.5);
        top:180px;

    }
</style>
<body>
{% include "header.html" %}
{% if success %}
{% endif %}
{% if error %}

    {{ error_msg }}
{% endif %}
<div class="container-fluid" id="bgimg">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" id="top" style="border:2px solid #343a40;">
  <h2 style="color:blue;font-family: Algerian;">Forgot Password Form</h2>

      <form method="post" enctype="multipart/form-data" action="{% url 'forgot' %}" class="was-validated">
{% csrf_token %}
    <div class="form-group">
        <label for="inputemail"><h6 style="color:orange;">Email:</h6></label><span id="em"></span>
      <input type="email" name="email" class="form-control" id="inputemail" placeholder="Enter Email"  required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

          <button type="submit" class="btn btn-primary">Send Email</button>
      <button type="reset" class="btn btn-default">Cancel</button>

  </form>
</div>
        <div class="col-md-3">
        </div>
        </div>

    </div>
<script>

//email validation
function validate_email(email)
{
var pattern=/^[a-zA-Z0-9.-_]+@[a-zA-Z._-]+\.[a-zA-Z]{2,6}$/;
if(pattern.test(email))
return true;
else
return false;
}
$(document).ready(function(){
	$("")
		$("#sub").prop("disabled",false);


    $("#inputemail").blur(function(){
var email=$("#inputemail").val();
if(validate_email(email))
{
$(this).css("border","2px solid green");
$("#em").hide();
}
else if(email==''){
$("#em").html(' (please enter email id)').css({'color':'red','font-size':'12px'});
$(this).css("border","2px solid red");
$("#em").show();
}
else{
$(this).css("border","2px solid red");
$("#em").show();
$("#em").html(' ( invalid email id)').css({'color':'red','font-size':'12px'});
}

});//end of email validation


//for submit button
$("#myform").submit(function(){
var email=$("#email").val();

if(email=='')
return false;

else if(!validate_email(email))
return false;

else
{
return true;
}

});
});
</script>
</body>
</html>