{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Rajasthan Tourism</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
<div class="container">
    <a href="" class="navbar-brand text-warning font-weight-bold"><span style="font-family: Algerian">Rajasthan Tourism</span></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#collapsenavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="collapsenavbar">
        <ul class="navbar-nav ml-auto">
<li class="nav-item">
    <a href="{% url 'index' %}" class="nav-link"><span style="color:orange;font-family: Algerian;">HOME</span></a>
</li>
            <li class="nav-item">
                <a href="" class="nav-link"><span style="color:orange;font-family: Algerian;">ABOUT US</span></a>
</li>
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link"><span style="color:orange;font-family: Algerian;">E-TICKETING</span></a>
</li>
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link"><span style="color:orange;font-family: Algerian;">STAY</span></a>
</li>
            <li class="nav-item">
                <a href="{% url 'contactus' %}" class="nav-link"><span style="color:orange;font-family: Algerian;">CONTACT US</span></a>
</li>
        </ul>

    </div>

</div>
    </nav>
</body>
</html>